<link href='//netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css' rel='stylesheet'/>
<body>
  <footer class="nb-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="about">
            <p>
              This is a Place Schedule Website. Here Employ add a student to
              Interview to enlisted Company. The Company can download the CSV of
              Students results.
            </p>

            <div class="social-media" style="text-align: -webkit-center;">
              <ul class="d-flex justify-content-between" style="width: 300px;margin-left:-30px">
                <li>
                  <a href="#" title=""><i class="fa fa-facebook"></i></a>
                </li>
                <li>
                  <a href="#" title=""><i class="fa fa-twitter"></i></a>
                </li>
                <li>
                  <a href="#" title=""><i class="fa fa-google-plus"></i></a>
                </li>
                <li>
                  <a href="#" title=""><i class="fa fa-linkedin"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <section class="copyright">
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <p>Copyright © 2022. Hiring Ninja created by Gaurav Singh.</p>
          </div>
          <div class="col-sm-6"></div>
        </div>
      </div>
    </section>
  </footer>
</body>
