<header>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link type="text/css" rel="stylesheet" href="/css/header.css">
    <nav>
        <div id="brand-logo">
            <img src="/images/logo.png" alt="Brand Logo" width="120px"/>
        </div>
        <div id="navbar">
           <div id="nav-links">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/jobs/lists">Placement Cell</a></li>
                    <% if ( !locals.user ) {%>
                    <li><a href="/user/register">Register</a></li>
                    <li><a href="/user/login">Login</a></li>
                    <% } %>
                </ul>
           </div>
           <% if( locals.user ) {%>
           <div id="nav-profile">
                <div id="nav-profile-image"><img src="/images/profile.png" alt="profile-pic" width="60px" onclick="showProfileDropdown()"></div>
                <div id="nav-profile-dropdown">
                    <h5> <%= locals.user.name %></h5>
                    <div><a href="/user/account">Account</a></div>
                    <div><a href="/user/logout">Logout</a></div>
                </div>
           </div>
           <% } %>
           <div id="sidebar-button">
             <button onclick="showSideBar()"><i class="fa-solid fa-bars"></i></button>
           </div>
            
        </div>
        <div id="sidebar"></div>
    </nav>
</header>
<script src="/javascripts/header.js"></script>