<header>
    <link type="text/css" rel="stylesheet" href="/css/header.css">
    <nav>
        <div id="brand-logo">
            <img src="/images/logo.png" alt="Brand Logo" width="120px"/>
        </div>
        <div id="navbar">
           <div id="nav-links">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="#">Interviews</a></li>
                    <li><a href="#">Register</a></li>
                    <li><a href="/login">Login</a></li>
                </ul>

           </div>
           <div id="nav-profile">
                <div id="nav-profile-image"><img src="/images/profile.png" alt="profile-pic" width="60px"/></div>
                <div id="nav-profile-dropdown"></div>
           </div>
            
        </div>
    </nav>
</header>