<link type="text/css" rel="stylesheet" href="/css/headerImage.css">
<div id="header-image">
    <img id="header-image-1" src="/images/comp1.jpg">
    <img id="header-image-2" src="/images/headerimage2.jpg">
    <img id="header-image-3" src="/images/dreamjob.jpg"> 
</div>