

#main-container{
    #buttons{
        margin: 20px 10px;
    }

    //css for batch container 
    #batch-container{
        margin: 10px;
        display: none;
        text-align: -webkit-center;
        margin-bottom: 35px;
        #batch-form-container{
            border: solid 7px #137dc5;
            padding: 15px;
            max-width: 700px;
            #batch-form{
                background-color: #fba034;
                color: white;
                border-radius: 10px;
                font-family: 'Anek Latin', sans-serif;
                font-size: x-large;
            }
        }
    }


    // css for add student container
    #add-student-container{
        text-align: -webkit-center;
        display: none;
        margin-bottom: 30px;
        #add-student-detail{
            background-color: white;
            border: solid 7px #137dc5;
            padding: 15px;
            max-width: 1100px;
            #add-student-form{
                background: #fba034;
                font-family: 'Anek Latin', sans-serif;
                padding: 20px;
                color: white;
                border-radius: 11px;
                font-size: x-large;
                max-width: 1000px;
                font-weight: 300;
            }
        }
    }
    @media only screen and (max-width: 600px) {
        .onwidth{
            display: block!important;
            width: 100%!important;
            text-align: start;
            margin: 0px;
        }
    }



    #student-list-container{
        overflow: auto;
        width: 100%;
        padding: 5px;
        margin-top: 30px;
    }

    #interview-form-container{
        display: none;
        position: fixed;
        top: 25%;
        width: 100%;
        text-align: -webkit-center;
        #add-interview-form{    
            max-width: 700px;
            padding: 10px;
            background: aliceblue;
            border: solid steelblue;
            form{
                font-family: 'Anek Latin', sans-serif;
                font-size: x-large;
                text-align: end;
                padding: 10px;
            }
        }
    }

}





