#header-image {
  display: flex;
  margin-top: 83px; }
  #header-image #header-image-1 {
    width: 49%; }
  #header-image #header-image-2 {
    width: 26%; }
  #header-image #header-image-3 {
    width: 25%; }
